{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'record/css/index.css' %}">
  <title>HaengBal</title>
</head>

<body>
  {% if is_logined == True %}
  <h1>Happy HaengBal(ver. 1.00)</h1>
  <h2>{{nickname}}님, 방학은 소중합니다.</h2>
  <div>
    <p>본 페이지는, 행발을 조금이나마 자세하고 풍성하게 쓰기위한 페이지입니다.</p>
    <p>검색한 문장의 복붙은 지양해주시고, </p>
    <p>유연하게 변형하여 더 나은 문장으로 발전시키시길 바랍니다. </p>
    <p style="color: gray; font-weight:600;">이용법 : 키워드 입력 + Enter  끝. </p>
  </div>
  {% else %}
  <h2>로그인을 해주세요.</h2>
  {% endif %}
  <br>
  {% if is_logined == True %}
  <hr style="border:3px solid gray;">
  <div class="input_container">
    <input class="keyword_0" type="search">
    <input class="keyword_1" type="search">
    <input class="keyword_2" type="search">
    <input class="keyword_3" type="search">
    <input class="keyword_4" type="search">
    <!-- TODO: flex container 만들고, 간격조정. -->
  </div>
  <hr style="border:3px solid gray;">
  <div class="result_container">
    <div>
      <div class="keyword_0"></div>
      <div class="keyword_0"></div>
    </div>
    <div>
      <div class="keyword_1"></div>
      <div class="keyword_1"></div>
    </div>
    <div>
      <div class="keyword_2"></div>
      <div class="keyword_2"></div>
    </div>
    <div>
      <div class="keyword_3"></div>
      <div class="keyword_3"></div>
    </div>
    <div>
      <div class="keyword_4"></div>
      <div class="keyword_4"></div>
    </div>
  </div>
  <script>

    for (let i=0; i < document.getElementsByTagName('input').length; i++) {
      document.getElementsByTagName('input')[i].addEventListener('search', updateValue);
      // for 문을 통해 input 태그마다, 모두 updateValue Event를 추가해준다.
    }


    function updateValue(e) {
      e_target_class = e.target.getAttribute('class');
      // <input>, 제목 <div>, 문장 <div> 에 동일한 class 이름을 부여했다.
      title = document.getElementsByClassName(e_target_class)[1]
      content = document.getElementsByClassName(e_target_class)[2]
      // index에 따라서 [0]은 input, [1]은 제목div, [2]는 content div에 접근한다.

      let url = 'post/';
      let req = new XMLHttpRequest();
      req.open('POST', url);
      req.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          const jsonResponse = JSON.parse(req.responseText)
          const data = jsonResponse['data']
          title.innerHTML = e.target.value+'<br>';
          content.innerHTML = "";
          for (let i = 0; i < data.length; i++) {
            let sentence = '<div>' +'-'+ data[i] + '.</div><br>'
            // document.getElementsByTagName('body')[0].innerHTML += sentence
            content.innerHTML += sentence;
          }
        } else {
          console.log('실패')
        }
      }
      req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8")
      // POST 방식으로 보낼 때에는 setRequestHeader 를 변경해주어야 하는구나.
      req.send(
        "keyword_2="+e.target.value
      );
    }



  </script>
  {% else %}
  {% endif %}
</body>

</html>
